@use '../settings/colors';

.louloupiottes__header {
    background-color: colors.$color-brand-900;
    position: sticky;
    transition: transform .5s ease-in-out;
    top: 0;

    .header__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 20px;
        height: 60px;

        .top__left {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .top__right {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    .header__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: 20px;
        height: 50px;

        > li {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: space-evenly;
                margin: 0;
            }
        }
    }
}

.louloupiottes__header .top__left {

    a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 20px;

        img {
            height: 50px;
            border-radius: 10px;
            border: 2px solid colors.$color-brand;
        }
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form {
        margin-left: 40px;
    }
}

.louloupiottes__header .top__right > a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding-inline: 10px;
    border-left: 2px solid colors.$color-brand;
    gap: 10px;

    svg {
        height: 20px;
        width: 20px;
        transition: transform .1s ease-in-out;
    }

    p {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            height: 1px;
            bottom: 0;
            left: 0;
            width: 0;
            transition: width .25s ease-in-out;
            background-color: colors.$color-brand;
        }
    }

    &:hover {
        p {

            &::after {
                width: 100%;
            }
        }

        svg {
            transform: scale(1.15);
        }
    }
}


.louloupiottes__header .top__right ul,
.header__responsive .top__right ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
        position: relative;
        transition: all .25s ease-in-out;
        padding: 5px 15px;
        border-radius: 20px;

        &:not(:first-child) {
            margin-inline: 20px;
        }

        &:first-child {
            margin-right: 20px;
        }

        &:hover {
            background: colors.$color-brand;

            a {
                color: colors.$color-brand-900;
            }   
        }

        a {
            width: 100%;
            height: 100%;
        }
    }

    li.active {
        background: colors.$color-brand;

        a {
            color: colors.$color-brand-900;
        }
    }

}

.louloupiottes__header .header__bottom li ul {
    li {
        padding: 5px 15px;
        border-radius: 5px;
        border: 1px solid colors.$color-brand;
        font-size: 0.6rem;
        border-radius: 100px;
        transition: all .25s ease;
        position: relative;

        a {
            font-size: .8rem;
        }

        &::before {
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 100px;
            background-color: colors.$color-brand;
            top: 50%;
            left: 3px;
            transform: translateY(-50%);
            transition: all .25s ease;
        }

        &:hover {
            border: 1px solid colors.$color-brand-600;
            background-color: colors.$color-brand-600;
        }
    }
}

.louloupiottes__header .desktop_connected {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
    border-left: 1px solid colors.$color-brand;

    div {
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            width: 100%;
            height: 100%;
            position: relative;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            transition: transform .25s linear;
        }

        &:first-child a:hover {
            img {
                transform: scale(1.1);
            }
        }

        &:last-child a {
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                svg {
                    height: 100%;
                    width: 100%;
                }
            }

            svg {
                height: 90%;
                width: 90%;
                transition: all .25s linear;
            }
        }
    }
}

.louloupiottes__header.hidden {
    transform: translateY(-60px);
}

nav.header__responsive {
    display: none;
}

@media screen and (max-width: 460px) {
    .louloupiottes__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 20px;

        .header__bottom, {
            display: none!important;
        }

        .top__right {
            display: none!important;
        }
        

        .top__left > div {
            display: none!important;
        }

        .header__top {
            padding: 0;
        }

        .header__hamburger {
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5px;

            span {
                display: block;
                width: 100%;
                height: 3px;
                background-color: colors.$color-brand;
                transition: all .1s linear;
            }

            &.active {
                span:first-child {
                    transform: translateY(8px);
                }
                span:last-child {
                    transform: translateY(-8px);
                }
            }

            &.active_span {
                span:nth-child(2) {
                    width: 0;
                    transition-duration: unset;
                }

                span:first-child {
                    transform: translateY(8px) rotate(45deg);
                }
                span:last-child {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
    }

    nav.header__responsive {
        display: block;
        position: fixed;
        width: 100vw;
        min-height: calc(100vh - 60px);
        top: 60px;
        left: 0;
        padding: 20px 10px 74px 10px;
        transition: all .5s ease-in-out;
        transform: translateX(-100%);
        background-color: colors.$color-brand-900;
        border-top: 2px solid colors.$color-brand;

        > div {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .header__login {
            width: 100%;
        }

        .header__login > div {
            display: flex;
            width: 100%;
            flex-direction: column;

            h2 {
                margin-bottom: 20px;
                width: 100%;
                justify-self: flex-start;
            }

            form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 10px;

                div {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            
            input {
                padding: 5px 10px;
                border: none; 
                background-color: colors.$color-brand-600;
                color: colors.$color-brand;
                border-radius: 5px;
                border: 1px solid colors.$color-brand-900;
                transition: all .25s ease-in-out;

                &::placeholder {
                    color: colors.$color-brand;
                }

                &:hover, &:focus {
                    background-color: colors.$color-brand-900;
                    border: 1px solid colors.$color-brand;
                }

                &:focus, &:active {
                    outline: none;
                }
            }

            button {
                background: colors.$color-brand;
                color: colors.$color-brand-900;
                border-radius: 3px;
                padding: 3px 7px;

                &:hover {
                    cursor: pointer;
                }
            }

            a {
                font-size: 0.75rem;
                align-self: flex-end;
                text-decoration: underline;
            }
        }

        .pages {
            width: 100%;
            padding-bottom: 20px;

            .top__right {
                width: 100%;
                margin-top: 20px;
                
                ul {
                    flex-direction: column;
                    width: 100%;
                    
                    li {
                        margin: 0!important;
                        border-radius: 5px;
                        width: 100%;
                        text-align: center;
                    } 
                }
            }
        }

        .header__bottom {
            width: 100%;
            padding-bottom: 20px;

            > li {
                margin-top: 20px;

                ul {
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    li {
                        width: fit-content;
                        padding: 5px 10px;
                        border: 1px solid colors.$color-brand;
                        border-radius: 100px;
                    }
                }
            }
        }
    }
    
    nav.header__responsive.active {
        transform: translateX(0);
    }
}