@use '../settings/colors';

.louloupiottes__verification_success {
    width: 100vw;
    height: 100vh;
    background-color: colors.$color-brand-900;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    h2 {
        text-align: center;
    }

    a {
        padding: 10px 20px;
        border-radius: 10px;
        transition: all .25s ease-in-out;
        border: 1px solid colors.$color-brand;
        background-color: colors.$color-brand-900;
        color: colors.$color-brand;
        
        &:hover {
            background-color: colors.$color-brand;
            border: 1px solid transparent;
            color: colors.$color-brand-900;
        }
    }
}
