$color-highlight: #e8b8b1; // 0
// https://imagecolorpicker.com/color-code/490b1f
$color-brand: #490b1f;
$color-brand-900: #ede7e9;
$color-brand-700: #c8b6bc;
$color-brand-600: #b69da5;
$color-brand-300: #805462;
